Source: tsctp
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: https://www.uni-due.de/~be0001/tsctp/
Build-Depends: cmake (>= 3.0.2) | cmake3,
               debhelper (>= 9),
               libfile-fcntllock-perl,
               libsctp-dev (>= 1.0.5)
Standards-Version: 4.5.0.0
Vcs-Git: https://github.com/dreibh/tsctp.git
Vcs-Browser: https://github.com/dreibh/tsctp

Package: tsctp
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: iputils-ping,
            iputils-tracepath,
            rsplib-tools,
            subnetcalc,
            traceroute,
            whois
Suggests: wireshark
Description: SCTP Test Tool
 TSCTP is an SCTP test tool. Its purpose is to perform basic SCTP
 functionality tests to check implementations interoperability and
 to verify that the SCTP stack is working.
